Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 2560 1232 187 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/ICer/RTL_PRJ/async_fifo/rtl/sim/sim_vcs_top/tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 4049.090000
cursor 1995.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 13

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "inst_async_fifo"
activeDirFile "" "/home/ICer/RTL_PRJ/async_fifo/rtl/sim/sim_vcs_top/tb.fsdb"
addSignal -h 15 /tb_async_fifo/inst_async_fifo/wclk
addSignal -h 15 -holdScope wrst_n
addSignal -h 15 -holdScope wreq
addSignal -h 15 -UNSIGNED -UDEC -holdScope wdata[7:0]
addSignal -h 15 -holdScope wfull
addSignal -h 15 -holdScope wfull_almst
addSignal -h 15 -holdScope rclk
addSignal -h 15 -holdScope rrst_n
addSignal -h 15 -holdScope rreq
addSignal -h 15 -UNSIGNED -UDEC -holdScope rdata[7:0]
addSignal -h 15 -holdScope rdvld
addSignal -h 15 -holdScope repty
addSignal -h 15 -holdScope repty_almst
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

